
th, td {
  padding: 5px;
  text-align: center;
  border: 1px solid rgba(221, 221, 221, 0.315);
  font-size: 1rem;
}

.socket-control{
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(57, 60, 73);

}  

.button {
  border-radius: 0.5rem;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: cornflowerblue;
  border-style: solid;
  color: azure;
}

.socket-control button:hover {
  background: azure;
  color:  cornflowerblue;
  border-color:cornflowerblue;
}

.exchange-table{
  border: 1px solid rgba(221, 221, 221, 0.315);
  align-items: center;
  /* border-collapse: collapse; */
}

.ticker-table{
  border: 1px solid rgba(221, 221, 221, 0.315);
  align-items: center;
  /* border-collapse: collapse; */
}

.table-tickers {
  border: 1px transparent;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-collapse: collapse;
}

#root {
  background-color: #282c34; 
}

.App {
  background-color: #282c34; 
  color:rgb(245, 245, 245);
  align-items: center;
  padding: 5rem auto;
  
}

.exchange {
  background-color: #282c34;
  align-items: center;
  
}

.exchange-title-info {
  margin-top: 2rem;
  background: #303e46;
}

.title-exchange {
  background: #303e46;
}

.exchange-map {
  display: flex;
  flex-direction: column;
}


.ticker{
  overflow: hidden;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-color: transparent;
  
}

.table-ticker-div {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.title-table{
  padding: 5px;
  background-color: rgb(45, 57, 65);
}

.title-ticker{
  margin-bottom: 0rem;
}

.ticker-company{
  font-size: 0.8rem;
}

.country {
  margin: 0 0 1rem 0;
}

.exchange_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.35rem;

}


.box-body{max-height:300px;overflow:auto}

.border-right{
  border-right:1px;
  align-items: center;
  text-align: center; 
  
}

.border-left{
  border-left:1px;
  align-items: center;
  align-content: center; 

}

.row {
  *zoom: 1;
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

